<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "style.css" %}">
</head>
<body>
    <nav class="nav">
        <a href="#" class="brand">Eblog!</a> 
        <ul class="links">
            <li><a href="{% url "index" %}" class="{% if request.resolver_match.url_name == "index" %} active {% endif %}">Home</a></li>
            <li><a href="{% url "create" %}" class="{% if request.resolver_match.url_name == "create" or request.resolver_match.url_name == "edit" %} active {% endif %}">Create</a></li>
            <li><a href="">Contact</a></li>
        </ul>
        <button>Connexion</button>
    </nav>
    <div class="container">
        {% block body %}
            {% block brandtitle %}-{% endblock brandtitle %}

        {% endblock body %}
    </div>
</body>
</html>