<form action="" method="post">
    <div class="div-input">
        <label for="">Post title</label>
        <input type="text" name="titre" id="" placeholder="Enter the post title">
    </div>
    <div class="div-input">
        <label for="">Content of post</label>
        <textarea name="content" rows="5" id="" placeholder="Entere the post content"></textarea>
    </div>
    <div class="div-input">
        <label for="">Description / Image of post</label>
        <input type="file">
    </div>

    <input type="submit" class="input-submit" value="{% if post %} Modifier le post {% else %} Ajouter le post {% endif %}">
</form>